.Icon {
    margin-bottom: 10%;
}

p {
    color: white;
}

.categoryImage {
    max-width: 20vw;
    border-radius: 15px;
    transition: transform 0.3s ease;
    transition: box-shadow 0.2s ease; /* Add transition for smooth animation */
}

.categoryImage:hover {
    transform: scale(1.05); /* Example: increase the size by 10% */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Example: Add a shadow effect */
}