.goBackButton {
  left: 3%;
  width: 3%;
  background-color: #FFFFFA;
  color: #2F526B;
  margin-left: 3%;
  margin-bottom: 3%;
  border-radius: 50%;
  padding: 1%; /* Adjust padding for button size */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add initial shadow effect */
  transform: translateZ(0); /* Ensure hardware acceleration for smoother animation */
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smoother animation */
}

.goBackButton:hover {
  transform: scale(1.1); /* Scale up the button on hover for a pop effect */
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 1.4); /* Adjust shadow effect on hover */
}

.MainContent {
    display: flex;
    justify-content: center;
    padding-top: 2%; /* Use hyphen (-) instead of camelCase */
    margin-bottom: 3%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center; /* Use hyphen (-) instead of camelCase */
    background-color: #183E4B;
    /*margin-left: 23%;*/
    /*margin-right: 23%;*/
    padding-bottom: 20%;
}